* {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-weight: bolder;
}


#game-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
   background-color: #ddd; 
}

#score {
    position: absolute;
    padding: 10px;
    top: 80px;
}

#inventory {
    position: absolute;
    right: 0;
    top: 80px;
    padding: 10px;
}

#body-temp {
    margin-left: 8px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
}

#fire-clock {
    margin-left: 8px;
}