* {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-weight: bolder;
}


#game-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#game {
    border: 2px solid black;
    border-radius: 4px;
}

body {
   background-color: #ccc; 
}


.modal {
    position: absolute;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #bbb;
    padding: 30px;
    left: 21px;
    top: 161px;
    width: 400px;
    height: 200px;
}

.modal > button {
    border: 2px solid black;
    border-radius: 2px;
    background-color: #999;
    padding: 8px;
    margin-top: 25px;
}

#death-screen {
    display: none;
}

#score {
    display: none;
    position: absolute;
    padding: 10px;
    top: 80px;
}

#inventory {
    display: none;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 10px;
}

#body-temp {
    margin-left: 8px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
}

#fire-clock {
    margin-left: 4px;
}